html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

header {
    color: white;
    font-size: 3.125rem;
    font-weight: normal;
    text-align: center;
    margin: 2.09rem auto;
}

#download {
margin-bottom: 1.33rem;
}

.download {
    color: aquamarine;
    font-size: 1rem;
}

#video {
    margin: auto;
    overflow: clip;
    object-fit: contaim;
}

#travel_guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#travel_guide h2 {
    color: white;
    font-weight: 300;
    font-size: 2.625rem;
    margin: 2.17875rem 0;

}

#travel_guide #summary {
    color: gray;
    font-size: 1.3125rem;
    margin-bottom: 1.33rem;
}

#coming_soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#coming_soon #phone {
    margin: 1.33rem 0;
}

#coming_soon #soon {
    color: white;
    font-weight: 300;
    font-size: 2.625rem;
    margin: 2.17875rem 0;
}

#copyright {
    text-align: right;
    color: gray;
    margin: 1rem 0.75rem 1rem 0;
}
